<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>38D8235A-6DD1-4D8E-9FB8-FA22574F88CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F89C21FA-027A-47B4-9C98-48B85E94C1EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Product Data</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F89C21FA-027A-47B4-9C98-48B85E94C1EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B00959AB-493A-44E5-BFF9-83C438D06A5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Notion API</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source venv/bin/activate

# Read and split the query into DB and TITLE
query="{query}"
DB=${query%% *}
TITLE=${query#* }

# Call the Python script with the parsed arguments
python3 notion.py --db "$DB" --title "$TITLE"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F89C21FA-027A-47B4-9C98-48B85E94C1EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ns</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create a new Notion page</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>38D8235A-6DD1-4D8E-9FB8-FA22574F88CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}'</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>B00959AB-493A-44E5-BFF9-83C438D06A5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>38D8235A-6DD1-4D8E-9FB8-FA22574F88CF</key>
		<dict>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>B00959AB-493A-44E5-BFF9-83C438D06A5F</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>F89C21FA-027A-47B4-9C98-48B85E94C1EE</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>NOTION_TOKEN</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>NOTION_TOKEN</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>PAGE_ID</key>
		<string>1482cd0cca794bda9341dea90c9dd5a3</string>
		<key>TASK_DB_ID</key>
		<string>1482cd0cca794bda9341dea90c9dd5a3</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
